<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <link rel="manifest" href="/manifest.json">    
        <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
  <% if @current_user.present? %>
    <script>
      $(document).ready(function () {
        DisplaySessionTimeout();
      })
    </script>  
  <% end %>
  
    <h3>Expira em <span id='contador'></span></h3>
   
    <%= render 'layouts/header' %>  
      
    <div class="container"> 
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
 
      <div class="modal fade expiration-warning" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="expiration-modal">Sessão quase expirando</h4>
            </div>
            <div class="modal-body">
              <span id="warning" class="hidden">
                Sua sessão está quase expirando. Aperte OK para não perder sua sessão. 
                <h3>Expira em <span id='contador2'></span></h3>
              </span>
              <span id="expire" class="hidden" >
                Sua sessão expirou. Faça login novamente.
              </span>
            </div>
            <div class="modal-footer">
              <%= link_to 'Ok', root_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <%= yield :page_script %>   
  </body>
</html>
